* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    text-decoration: none;
  }
.background-login
{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to right, #4daf54, #3d8880); */
    background-image: linear-gradient(45deg, rgb(65,88,208) 40%, rgb(200,80,192)50%, rgb(225,204,112));
}
.logo>a>img
{
    margin:10px 10px 10px 10px;  
    width:80px;
    height:80px;    
    cursor: pointer;
}
.type
{       
    text-align: center;
    width: 800px;
    height: auto;
    padding: 25px;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.type>p
{
    font-size:40px;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(201, 23, 23);
}

.type input[type="password"], .type input[type="text"], .type input[type="email"]{
    background: whitesmoke;
    outline: none;
    width: 210px;
    height: 40px;
    border-radius: 40px;
    padding: 0px 15px;
    margin: 15px 0px;
    border: solid 2px #5664e2;
    transition: 1s;
    
}
.type input[type="password"]:focus, .type input[type="text"]:focus, .type input[type="email"]:focus{
    width: 260px;
    border-color: rgb(219, 29, 38);
    transition: 0.5s;
}
.type input[type="submit"]
{
    background-color: rgba(31, 81, 128, 0.6);
    outline: none;
    width: 160px;
    height: 40px;
    border-radius: 40px;
    margin: 15px 0px;
    border: solid 1px #002aff7e;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    backdrop-filter: blur(8px);
    font-weight: 600;
}
.type input[type="submit"]:hover{
    background: blue;
    transition: 1s;
}
.register
{
    display:inline-flex;
}

.register>a{
    padding:0 10px;
}

@media (max-width: 768px){
    .type{
        width:90%;
    }
    .type p{
        margin:10px;
    }
    
}
